{% extends "base.html" %}
{% block content %}


{% include 'secondarynav.html' %}



<div class="container">
	
	<!-- Import 1 -->
	<div id="import1" class="row">
		<div class="col-sm-6">

			<div class="panel panel-default panel-large panel-white panel-connected">
				<div class="panel-heading">
					<h4 class="panel-title">Import Assets</h4>
				</div>
				
				<div class="panel-body panel-body-grey">
					<form role="form">

						<div class="row">
							<div class="col-sm-12">
								
								<h5><span class="text-light">1.</span> <span class="padleft-md-10px">Download the fixed assets template</span></h5>
								<div class="padleft-md-24px">
									<p>This template has the required column headings Xero need to correctly import your fixed assets.</p>
									<p><span class="glyphicon glyphicon-cloud-download text-success"></span> <a class="padleft-md-10px ">Download Template</a></p>
								</div>
								
								<hr>

								<h5><span class="text-light">2.</span> <span class="padleft-md-10px">Ensure asset types exist and your date format is correct</span></h5>
								<div class="padleft-md-24px">
									<p>Go to the <a href="#">Fixed Assets Settings</a> page to review the list of existing asset types. Please create any asset types you may require before importing your file. Your may also configure your date format to match your preference:</p>

									<div class="row ">
										<div class="form-group mrgbtm-none col-sm-4">
											<select class="form-control selectpicker" >
												<option>dd/mm/yy</option>
												<option>mm/dd/yy</option>
												<option>dd/mm/yy</option>
												<option>mm/dd/yy</option>
											</select>
										</div>
									</div>
								</div>

								<hr>

								<h5><span class="text-light">3.</span> <span class="padleft-md-10px">Copy your fixed assets into the template</span></h5>
								<div class="padleft-md-24px">
									<p>Using Excel or another spreadsheet editor, fill the Xero template with your own data. Make sure this matches the column headings provided in the template. Columns marked with an asterisk * are mandatory.</p>
								</div>

								<hr>

								<h5><span class="text-light">4.</span> <span class="padleft-md-10px">Upload the updated template file</span></h5>
								<div class="padleft-md-24px">
									<p>Save your updated template as a <strong>.csv</strong> or <strong>.txt</strong> and you’re ready to go:</p>
									
									<div class="btn btn-default">Browse</div>

								</div>

							</div>
					  	</div>

					</form>
				</div>

				<div class="panel-footer panel-footer-white clearfix">

					<div class="navbar-right">

						<button class="btn btn-link">View support pages</button> 

						<button id="submit1" class="btn btn-primary">Continue</button>
						<button  class="btn btn-default">Cancel</button>


					</div>
				</div>
			</div>

		</div><!-- /.cols -->
	</div><!-- /.row -->




	<!-- Import 2 -->
	<div id="import2" class="row hidden">
		<div class="col-sm-6">

		<div class="panel panel-default panel-large panel-white panel-connected">
			<div class="panel-heading">
				<h4 class="panel-title">Import Summary</h4>
			</div>
			
			<div class="panel-body panel-body-grey">
				<form role="form">

					<div class="row heightmax-650">
						<div class="col-sm-12">
							
							<h5><span class="fa fa-remove text-danger"></span> <span class="padleft-md-10px">You have 892 critical errors</span></h5>
							<div class="padleft-md-24px">
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 2: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 3: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 4: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 5: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 6: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 7: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 8: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 9: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 10: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 11: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 12: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 13: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 14: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 15: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 16: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 17: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
							</div>

							<br>

							<h5><span class="fa  fa-info text-warning"></span> <span class="padleft-md-10px">You have 5 warnings</span></h5>
							<div class="padleft-md-24px">
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 2: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 3: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 4: Asset name must not be blank</span></p>
							</div>

						</div>
				  	</div>

				  	<div class="row">
						<hr class="mrgtop-none">
						<div class="col-sm-12">
						
							<h5><span class="text-light">3.</span> <span class="padleft-md-10px">Upload the updated template file</span></h5>
							<div class="padleft-md-24px">
								<p>Save your updated template as a <strong>.csv</strong> or <strong>.txt</strong> and you’re ready to go:</p>
								<div id="browse2" class="btn btn-default">Browse</div>
							</div>						

						</div>
				  	</div>

				</form>
			</div>

			<div class="panel-footer panel-footer-white clearfix">

				<div class="navbar-right">
					<button class="btn btn-link">View support pages</button> 

					<button id="submit2" class="btn btn-primary disabled">Continue</button>
					<button class="btn btn-default">Cancel</button>


				</div>
			</div>
		</div>
		</div><!-- /.cols -->
	</div><!-- /.row -->



	<!-- Import 3 -->
	<div id="import3" class="row hidden">
		<div class="col-sm-6">

		<div class="panel panel-default panel-large panel-white panel-connected">
			<div class="panel-heading">
				<h4 class="panel-title">Import Summary</h4>
			</div>
			
			<div class="panel-body panel-body-grey">
				<form role="form">

				  	<div class="row">
						<div class="col-sm-12">

				  			<h5><span class="fa  fa-info text-warning"></span> <span class="padleft-md-10px">You have 5 warnings</span></h5>
							<div class="padleft-md-24px">
								<p>•  <span class="padleft-md-10px">Row 1: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 2: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 3: Asset name must not be blank</span></p>
								<p>•  <span class="padleft-md-10px">Row 4: Asset name must not be blank</span></p>
							</div>

							<hr class="hr-white mrgtop-none">
						
							<h5><span class="fa   fa-check text-success"></span> <span class="padleft-md-10px">873 rows are ready to be imported</span></h5>
	


						</div>
				  	</div>

				</form>
			</div>

			<div class="panel-footer panel-footer-white clearfix">

				<div class="navbar-right">

					<button id="submit3" class="btn btn-success">Import</button>
					<button class="btn btn-default">Cancel</button>


				</div>
			</div>
		</div>
		</div><!-- /.cols -->
	</div><!-- /.row -->


</div><!-- /.container -->




<!-- UIland Blocks -->

<code>

	clicking on "#submit1" toggles class "hidden" on "#import1"
	group"

	clicking on "#submit1" toggles class "hidden" on "#import2"
	group"

	clicking on "#browse2" toggles class "disabled" on "#submit2"
	group"

	clicking on "#submit2" toggles class "hidden" on "#import2"
	group"

	clicking on "#submit2" toggles class "hidden" on "#import3"
	group"

</code>

{% endblock content%}
