
.opacity-50 {
	opacity: 0.5;
}

.heightmax-650{
	max-height: 368px;
	overflow: scroll;
}

.hr-white{
	border-color: transparent;
}

.position-absolute{
	position: fixed;
	top: 20;
	right: 0;
	left: 0;
	z-index: 1050;
}