
/*	Scaffolding
___________________________________________________________*/


a {
	color: $primary-color;

	&:hover,
	&:focus {
		color: darken($primary-color, 6.5%);
	}

}

body{
	background-color: $app-background;
	font-size: $base-font-size;
}

