
//	Colours
// ___________________________________________________________


$primary-color:							#1696C5;
$brand-color: 							#00B7E2;


$grey-dark: 							#999999;
$grey-mid: 								#E6E6E6;
$grey-light: 							#f4f6f7;





//	Navbar

$navbar-default-bg:						$primary-color !default;
$navbar-default-color:					$primary-color !default;
$navbar-default-border:					white;
$navbar-default-link-color:				white;
$navbar-default-link-hover-color:		$navbar-default-link-color;
$navbar-default-link-hover-bg:			darken($navbar-default-bg, 6.5%) !default;
$navbar-default-link-active-color:		$primary-color;
$navbar-default-link-active-bg:			white;


$navbar-default-brand-color:			white;
$navbar-default-brand-hover-bg:			$navbar-default-link-hover-bg;
$navbar-default-brand-hover-color:		$navbar-default-brand-color;


//	Navbar Secondary 
$navbar-secondary-bg:					$grey-light;

$breadcrumb-bg:							$navbar-secondary-bg;
















































//	Baseunit
// ___________________________________________________________

$baseunit: 24px;


// Media queries breakpoints
// ___________________________________________________________

// Extra small screen / phone
// Note: Deprecated $screen-xs and $screen-phone as of v3.0.1
$screen-xs:                  480px !default;
$screen-xs-min:              $screen-xs !default;
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
// Note: Deprecated $screen-sm and $screen-tablet as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
// Note: Deprecated $screen-md and $screen-desktop as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
// Note: Deprecated $screen-lg and $screen-lg-desktop as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$retina: "-webkit-min-device-pixel-ratio: 2.0), only screen and (min--moz-device-pixel-ratio: 2.0), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2.0";
