pageTitle: Draft Assets


{% extends "base.html" %}
{% block content %}


{% include 'secondarynav.html' %}


<div class="container">

	
	<div id="alert" class="alert animated fadeInDown hidden alert-danger alert-dismissable col-md-3 hoz-center position-absolute" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>

		<span class="fa fa-remove" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		The 3 assets could not be registered

	</div>
	
	<!-- Import 1 -->
	<div id="draftsList" class="row">
		<div class="col-sm-12">

			<!-- Panel -->
			<div class="panel panel-default panel-large panel-white panel-connected">
				<div class="panel-heading">
				  <button  id="delete" type="button" class="btn btn-default btn-sm disabled">Delete</button>
				  <button  id="bulkRegister" type="button" class="btn btn-default btn-sm disabled" data-toggle="modal" data-target=".bs-example-modal-sm">Register</button>
				</div>
				
					
				<table class="table table-hover ">
					<thead class="padbtm-4">
						<tr>
							<th class="rowlink-skip">
								<!-- Checkbox -->
								<input id="selectAll" type="checkbox">
						  	</th>
							<th><span class="text-primary">Asset Name</span></th>
							<th><span class="text-primary">Asset Number</span></th>
							<th><span class="text-primary">Asset Type</span></th>
							<th><span class="text-primary">Purchase Date</span></th>
							<th><span class="text-primary">Purchase Price</span></th>
						</tr>
					</thead>



					<tbody class="">
						<tr id="assetGood" data-link="row" class="rowlink animated">
							<td class="rowlink-skip">
								<!-- Checkbox -->
								<input id="checkbox1" type="checkbox" class="">
								<input id="checkbox2" type="checkbox" class="hidden" checked>
						  	</td>
							<td><a href="http://www.apple.com"> Macbook Pro</a></td>
							<td><span class="text-primary">FA-0001</span></td>
							<td>Computer Equiptment</td>
							<td>Feb 11, 2015</td>
							<td>3,549</td>
						</tr>

						<tr  id="assetGood" data-link="row" class="rowlink animated">
							<td class="rowlink-skip">
								<!-- Checkbox -->
								<input id="checkbox1" type="checkbox" class="">
								<input id="checkbox2" type="checkbox" class="hidden" checked>
						  	</td>
							<td><a href="http://www.apple.com"> Macbook Pro</a></td>
							<td><span class="text-primary">FA-0002</span></td>
							<td>Computer Equiptment</td>
							<td>Feb 11, 2015</td>
							<td>3,549</td>
						</tr>									


						<tr id="assetBad" data-link="row" class="rowlink">
							<td class="rowlink-skip">
								<!-- Checkbox -->
								<input id="checkbox1" type="checkbox" class="">
								<input id="checkbox2" type="checkbox" class="hidden" checked>
						  	</td>
							<td><a href="http://www.apple.com"> Macbook Pro</a></td>
							<td><span class="text-primary">FA-0003</span></td>
							<td> </td>
							<td>Feb 11, 2015</td>
							<td>3,549</td>
						</tr>


						<tr id="assetBad" data-link="row" class="rowlink">
							<td class="rowlink-skip">
								<!-- Checkbox -->
								<input id="checkbox1" type="checkbox" class="">
								<input id="checkbox2" type="checkbox" class="hidden" checked>
						  	</td>
							<td><a href="http://www.apple.com">BW Amp</a></td>
							<td><span class="text-primary">FA-0004</span></td>
							<td> </td>
							<td>Feb 11, 2015</td>
							<td>1,000</td>
						</tr>

						<tr id="assetBad" data-link="row" class="rowlink">
							<td class="rowlink-skip">
								<!-- Checkbox -->
								<input id="checkbox1" type="checkbox" class="">
								<input id="checkbox2" type="checkbox" class="hidden" checked>
						  	</td>
							<td><a href="http://www.apple.com">BW Amp</a></td>
							<td><span class="text-primary">FA-0005</span></td>
							<td>Motor Vehicle</td>
							<td>Feb 11, 2015</td>
							<td></td>
						</tr>

					</tbody>
			    </table>


				</div>

			</div>
			<!-- //////Panel -->

			<!-- Small modal -->
			<div class="modal fade bs-example-modal-sm " tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
				
				<div id="modalContainer" class="modal-dialog modal-sm">
					<div class="modal-content">
						
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Register 5 Draft Assets</h4>
						</div>
						
						<div class="modal-body">
							<p>Are you sure you want to register the selected items?<br>This may take a few minutes to process.</p>
						</div>


						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button id="modalRegister" type="button" class="btn btn-primary" data-dismiss="modal">Register Assets</button>
						</div>
						
					</div><!-- /.modal-content -->
				</div><!-- /.modal-dialog -->

			</div>
			<!-- /////Modal -->

		</div><!-- /.cols -->
	</div><!-- /.row -->



<!-- UIland Blocks -->

<code>

	clicking on "#selectAll" toggles class "hidden" on "#checkbox1"
	
	clicking on "#selectAll" toggles class "hidden" on "#checkbox2"

	clicking on "#selectAll" toggles class "disabled" on "#bulkRegister"

	clicking on "#selectAll" toggles class "disabled" on "#delete"

	clicking on "#modalRegister" toggles class "hidden" on "#modal1"

	clicking on "#modalRegister" toggles class "modal-sm" on "#modal1"

	clicking on "#modalRegister" toggles class "hidden" on "#alert"

	clicking on "#modalRegister" toggles class "hidden" on "#assetGood"

	clicking on "#modalRegister" toggles class "info" on "#assetBad"



<!-- 	clicking on "#modalRegister" toggles class "modal-sm" on "#modalContainer" 

	clicking on "#modalRegister" toggles class "hidden" on "#modalRegister"
	
	clicking on "#modalRegister" toggles class "hidden" on "#assetGood"

	clicking on "#modalRegister" toggles class "hidden" on "#modalTryAgain" -->


</code>

{% endblock content%}
