{% extends "base.html" %}
{% block content %}


{% include 'secondarynav.html' %}


<div class="container">
	<div class="row">
		<div class="col-sm-12">

			<table class="table table-hover ">
				<thead>
					<tr>
						<th class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</th>
						<th><span class="btn-link">Number</span></th>
						<th><span class="btn-link">Reference</span></th>
						<th><span class="btn-link">Customer</span></th>
						<th><span class="btn-link">Date</span></th>
						<th><span class="btn-link">Accepted</span></th>
						<th><span class="btn-link">Invoiced</span></th>
						<th><span class="btn-link">Amount</span></th>
					</tr>
				</thead>

				<tbody>
					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1001</a></td>
						<td>AB1350Z</td>
						<td>J3 Screen Printers</td>
						<td>1 June 2014</td>
						<td>1 Jul 2014</td>
						<td> </td>
						<td>7,130.00</td>
					</tr>

					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1002</a></td>
						<td>AB1350Z</td>
						<td>Hoyt Productions</td>
						<td>28 June 2014</td>
						<td>28 Jul 2014</td>
						<td class="rowlink-skip"><a href="https://www.google.com">200.00 <span class="glyphicon glyphicon-chevron-right "></span><a>  </td>
						<td>2,550.00</td>
					</tr>

					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1003</a></td>
						<td>AB1350Z</td>
						<td>Wilson Periodicals</td>
						<td>30 June 2014</td>
						<td>30 Jul 2014</td>
						<td> </td>
						<td>430.00</td>
					</tr>

					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1003</a></td>
						<td>AB1350Z</td>
						<td>Clyde Brawn</td>
						<td>29 June 2014</td>
						<td>29 Jul 2014</td>
						<td> </td>
						<td>430.00</td>
					</tr>
					
					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1003</a></td>
						<td>AB1350Z</td>
						<td>Port &amp Philip Freight</td>
						<td>30 June 2014</td>
						<td>30 Jul 2014</td>
						<td class="rowlink-skip"><a href="https://www.google.com">200.00 <a> </td>
						<td>1,430.00</td>
					</tr>

					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1003</a></td>
						<td>AB1350Z</td>
						<td>Clyde Brawn</td>
						<td>29 June 2014</td>
						<td>29 Jul 2014</td>
						<td> </td>
						<td>430.00</td>
					</tr>

					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1003</a></td>
						<td>AB1350Z</td>
						<td>Clyde Brawn</td>
						<td>29 June 2014</td>
						<td>29 Jul 2014</td>
						<td class="rowlink-skip"> <a href="https://www.google.com">1,000.00 <a> </td>
						<td>430.00</td>
					</tr>

					<tr data-link="row" class="rowlink">
						<td class="rowlink-skip">
							<!-- Checkbox -->
							<input type="checkbox">
					  	</td>
						<td><a href="http://www.apple.com"> QU 1003</a></td>
						<td>AB1350Z</td>
						<td>Clyde Brawn</td>
						<td>29 June 2014</td>
						<td>29 Jul 2014</td>
						<td class="rowlink-skip"> <a href="https://www.google.com">2,120.00 <a> </td>
						<td>4,030.00</td>
					</tr>										

				</tbody>
		    </table>


		</div><!-- /.cols -->
	</div><!-- /.row -->

</div><!-- /.container -->



{% endblock content%}
